<div class="square-container">
    <div class="square">
        <form>
            <div class="form-group">
                <img class="main-logo" src="../../../../assets/logo-main.svg" alt="">
                <h1>Blip</h1>
                <label for="exampleInputPassword1">An OTP has been sent to your mobile number
                            XXXXXX1105</label>
                <input type="password" class="form-control" id="password" placeholder="Enter OTP">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a routerLink="/auth/forgot-password">Resend OTP</a>
        </form>
    </div>
</div>