<div class="square-container">
    <div class="square">
        <form>
            <div class="form-group">
                <img class="main-logo" src="../../../../assets/logo-main.svg" alt="">
                <h1>Blip</h1>
                <label for="exampleInputPassword1">Enter your new password</label>
                <input type="password" class="form-control" id="password" placeholder="New password">
                <input type="password" class="form-control confirm-pwd" id="confirm-password" placeholder="Confirm password">
            </div>
            <button routerLink="/auth/change-password" type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>