<div class="row">
    <img src="https://bootdey.com/img/Content/avatar/avatar1.png " alt="">
</div>
<div class=" instructor-details">
    <div class="row row-black">
        <div class="col-5">
            <p class="title">Name</p>
        </div>
        <div class="col-7">
            <p class="data">{{instructorDetails.firstName + " " + instructorDetails.lastName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="title">Designation</p>
        </div>
        <div class="col-7">
            <p class="data">{{instructorDetails.designation}}</p>
        </div>
    </div>
    <div class="row row-black">
        <div class="col-5">
            <p class="title">Branch</p>
        </div>
        <div class="col-7">
            <p class="data">Computer Science and Engineering</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-5">
            <p class="title">Phone Number</p>
        </div>
        <div class="col-7">
            <p class="data">{{instructorDetails.phoneNumber}}</p>
        </div>
    </div>
    <div class="row row-black">
        <div class="col-5">
            <p class="title">Email</p>
        </div>
        <div class="col-7">
            <p class="data">{{instructorDetails.email}}</p>
        </div>
    </div>
</div>

<div class="row thumb-wrapper">
    <div class="col-4">

    </div>
    <div class="col-2 center">
        <img class="thumb" src="../../../../assets/text.png" alt="">
    </div>
    <div class="col-2 center">
        <img class="thumb" src="../../../../assets/camera.png" alt="">
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3">
        <button (click)="closeModal()" class="btn btn-primary">Close</button>
    </div>
</div>