<div class="square-container">
    <div class="square">
        <form>
            <div class="form-group">
                <img class="main-logo" src="../../../../assets/logo-main.svg" alt="">
                <h1>Blip</h1>
                <label for="exampleInputPassword1">Please enter registered phone number to reset
                        the password </label>
                <input type="password" class="form-control" id="password" placeholder="Enter phone number">
            </div>
            <button routerLink="/auth/otp" class="btn btn-primary">Send OTP</button>
        </form>
    </div>
</div>