<div class="banner-list">
    <div class="row header">
        <div class="col-md-8">
            <h3>Banners</h3>
        </div>
        <div class="col-md-4">
            <button class="default-button" (click)="openModal()">Add Banner</button>
        </div>
    </div>

    <div class="row card-group">
        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let banner of banners; let in = index;">
            <div class="card banner-list--item" (click)="goToDetails(in)">
                <!-- <p>Id: </p> -->
                <div class="col-12">
                    <img class="banner" [src]="getPicture(banner.bannerStream)">
                </div>
                <div>
                    <button class="btn btn-danger del" (click)="deleteBanner(banner)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>