.login-title {
    display: inline-block;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #3000B2;
}

.right {
    right: 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered img {
    width: 500px%;
}

.centered-form {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%
}

input {
    height: 48px;
    background: rgba(242, 242, 242, 1);
    border: none;
}

input:focus {
    border-bottom: 2px solid #3000B2;
}

button {
    width: 100%;
    height: 48px;
    background: #3000B2;
}

button:hover {
    background: #1B049A;
}

.main-logo {
    width: 100px;
    height: 100px;
    margin-left: 50%;
}

img {
    margin-bottom: 20px;
    margin-left: 9px;
}

a {
    color: #3000B2;
    position: relative;
    left: 150px;
}