<div class="split left">
    <div class="centered">
        <img src="../../../../assets/login theme.png" alt="Avatar woman">
    </div>
</div>

<div class="split right">
    <div class="centered-form">
        <form [formGroup]="loginForm" autocomplete="fjghhj">
            <img class="main-logo" src="../../../../assets/Logo.svg" alt="">
            <h1 class="login-title">7th Harmony</h1>
            <img src="../../../../assets//paper-plane.svg" alt="" width="48px" height="48px">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input formControlName="username" autocomplete="gfhjj" type="text" class="form-control" id="username" placeholder="Enter username/email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="alert alert-danger" *ngIf="isError" role="alert">
                Incorrect username and password
            </div>
            <button (click)="login()" class="btn btn-primary">Login</button>
            <a routerLink="/auth/forgot-password">Forgot password?</a>
        </form>
    </div>
</div>