nav {
    padding: 0;
    background: #111534;
    border-bottom: solid 0.5px #909090;
}

.container-fluid {
    padding: 16px 0 16px 8px;
    border-bottom: solid 0.5px #909090;
    background: white;
}