<div>
  <div class="container">
    <div class="col-md-2">
      <button class="default-button" (click)="openModal('addParentsModal')" >Add Parents</button>
    </div>
      <div class="text-center">
          <div ng-controller="MyCtrl">
            <table style="width:100%">
              <div *ngFor="let d of items; let i = index" >
               <em>{{items[i].parentId}}</em>

               <div class="col-lg-3 col-md-4 " style="border: 1px solid #575a5f;" style="margin-bottom: 50px;margin-top: 5px;">
                <div class="border border-secondary">
                  <div  class="text-center small "font-family="Times New Roman">Name:{{items[i].parentId}}</div>
                       <div class="container">
                        <div class="row">
                          <div class="badge badge-info col-xs-6">Info</div>
                          <div  class="text-center small"font-family="Times New Roman">Email:srikanth@gmail.com</div>
                        </div>
                    </div>
                  <div class="text-center small"font-family="Times New Roman"> Ph:9290528523
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="mx-auto small" >
                          <a href="javascript:void(0);" font-family="Times New Roman" class="inside-link" (click)="openModal('editParentsModal')" >Edit</a> 
                          <input type ="hidden" id="parentIdObj_{{items[i].parentId}}" value="{{items[i].parentId}}">
                          <a href="javascript:void(0);"  (click)="deleteParent('{items[i].parentId}')"  style="margin-left: 15px;"  class="inside-link">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
             </div>

              </div>
            </table>
          </div>

          <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
      </div>
  </div>
  <hr />
  
</div>

<div class="container">
    <div class="row gallery-bottom" >
        <div class="col-sm-6">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <em>Displaying 1 to 8 (of 100 posts)</em>
        </div>
    </div>

    <jw-modal id="addParentsModal">
      <button (click)="closeModal('addParentsModal');">Close</button>
      <div class="card">  
        <div class="card-body">  
      
         <form [formGroup]="angForm" novalidate>  
            <div class="form-group">  
              <label class="col-md-4">Person Id</label>  
              <input type="text" class="form-control"   
                formControlName="PersonId"   
                #PersonId />  
            </div>  
            <div *ngIf="angForm.controls['PersonId'].invalid && (angForm.controls['PersonId'].dirty || angForm.controls['PersonId'].touched)" class="alert alert-danger">  
              <div *ngIf="angForm.controls['PersonId'].errors.required">  
                Person Id is required.  
              </div>  
            </div>  
            <div class="form-group">  
              <label class="col-md-4">Secondary Phone Number</label>  
              <input class="form-control"   
              formControlName="SecondaryPhoneNumber"   
              #SecondaryPhoneNumber /> 
            </div>  
            <div *ngIf="angForm.controls['SecondaryPhoneNumber'].invalid && (angForm.controls['SecondaryPhoneNumber'].dirty || angForm.controls['SecondaryPhoneNumber'].touched)" class="alert alert-danger">  
              <div *ngIf="angForm.controls['SecondaryPhoneNumber'].errors.required">  
                Secondary Phone Number is required.  
              </div>  
            </div>  
            <div class="form-group">  
              <label class="col-md-4">RelInstituition Id</label>  
              <input type="text" class="form-control"   
                formControlName="RelInstituitionId"   
                #RelInstituitionId  
              />  
            </div>  
            <div *ngIf="angForm.controls['RelInstituitionId'].invalid && (angForm.controls['RelInstituitionId'].dirty || angForm.controls['RelInstituitionId'].touched)" class="alert alert-danger">  
              <div *ngIf="angForm.controls['RelInstituitionId'].errors.required">  
                RelInstituition is required.  
              </div>  
            </div>  
    
            <div class="form-group">  
                <button (click) = "addParent(PersonId.value, SecondaryPhoneNumber.value, RelInstituitionId.value)" type="submit" class="btn btn-primary"  
                [disabled]="angForm.pristine || angForm.invalid" >  
                  Add Parent  
                </button>  
            </div>
          </form>  
        </div>  
        </div>
        <div class="">
          <div class="container text-center">
              <alert></alert>
          </div>
      </div>
  
  </jw-modal>

  <jw-modal id="editParentsModal">
    <button (click)="closeModal('editParentsModal');">Close</button>
    <div class="card">  
      <div class="card-body">  
    
       <form [formGroup]="angFormEdit" novalidate>  
           
          <div class="form-group">  
            <label class="col-md-4">Secondary Phone Number</label>  
            <input class="form-control"   
            formControlName="SecondaryPhoneNumberEdit"   
            #SecondaryPhoneNumberEdit /> 
          </div>  
          <div *ngIf="angFormEdit.controls['SecondaryPhoneNumberEdit'].invalid && (angFormEdit.controls['SecondaryPhoneNumberEdit'].dirty || angFormEdit.controls['SecondaryPhoneNumberEdit'].touched)" class="alert alert-danger">  
            <div *ngIf="angFormEdit.controls['SecondaryPhoneNumberEdit'].errors.required">  
              Secondary Phone Number is required.  
            </div>  
          </div>  
          <div class="form-group">  
            <label class="col-md-4">RelInstituition Id</label>  
            <input type="text" class="form-control"   
              formControlName="RelInstituitionIdEdit"   
              #RelInstituitionIdEdit  
            />  
          </div>  
          <div *ngIf="angFormEdit.controls['RelInstituitionIdEdit'].invalid && (angFormEdit.controls['RelInstituitionIdEdit'].dirty || angFormEdit.controls['RelInstituitionIdEdit'].touched)" class="alert alert-danger">  
            <div *ngIf="angFormEdit.controls['RelInstituitionIdEdit'].errors.required">  
              RelInstituition is required.  
            </div>  
          </div>  
  
          <div class="form-group">  
              <button (click) = "editParent( SecondaryPhoneNumberEdit.value, RelInstituitionIdEdit.value)" type="submit" class="btn btn-primary"  
              [disabled]="angFormEdit.pristine || angFormEdit.invalid" >  
                Edit Parent 
              </button>  
          </div>
        </form>  
      </div>  
      </div>
      <div class="">
        <div class="container text-center">
            <alert></alert>
        </div>
    </div>

</jw-modal>

  </div>
