.blip-form {
    margin: 50px 30px;
}

.blip-input {
    background: #F6F8F9;
    border: 0.5px solid rgba(222, 222, 222, 0.23);
}

.blip-select {
    height: 38px;
    left: -2px;
    top: 0px;
    width: 100%;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #3000B2;
}

.blip-message {
    height: 140px;
}

.image-create {
    display: block;
    height: 100%;
    width: 90%;
    background: #F6F8F9;
    padding: 15px;
}