<div class="main-content">

    <ng-template #branchmodal let-modal>
        <div class="row">
            <h5 style="margin: 5px 0 0 24px;">Add branch</h5>

            <div class="" style="margin-left:24px; margin-bottom: 46px;">
                <label for="institutionName">Name of Branch*</label>
                <input type="text" [(ngModel)]="branchNameModel" class="branch-button" id="branchName">
            </div>
            <button class="btn btn-primary btn-branch" (click)="addBranch()" style="margin-left:24px">Add</button>
        </div>

    </ng-template>
    <ng-template #sectionModal let-modal>
        <div class="row">
            <h5 style="margin: 5px 0 0 24px;">Add section</h5>

            <div class="" style="margin-left:24px; margin-bottom: 46px;">
                <label for="sectionName">Name of Section*</label>
                <input type="text" [(ngModel)]="sectionNameModel" class="branch-button" id="branchName">
            </div>
            <button class="btn btn-primary btn-branch" (click)="addSection()" style="margin-left:24px">Add</button>
        </div>

    </ng-template>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <h3>List of Institutions</h3>
                </div>
                <div class="col-md-4">
                    <button class="default-button" (click)="open(mymodal)">Add Institutions</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row pincode-bar">
                        <div class="col-md-4 col-lg-4 col-xl-2 pincode-title">
                            <p>Pincode Search</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-8 pincode-search">
                            <input type="text" placeholder="Enter pincode ex(524002)">
                        </div>
                        <div class="col-md-2 col-lg-2 icon-img">
                            <div class="pincode-icon">
                                <img src="../../../../assets/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 state">
                    <div class="row">
                        <!-- <select class="select-style">
                            
                                <option value="0">State</option>
                                <option value="1">Andhra Pradesh</option>
                                <option value="2">Karnataka</option>
                                <option value="3">Kerala</option>
                                <option value="4">Odissa</option>
                                <option value="5">Tamilnadu</option>
                                <option value="6">Maharastra</option>
                              </select> -->

                        <select #st (change)="getCities(st.value)" (change)="getCities(st.value)" class="select-style">
                            <option [value]="state.stateId" *ngFor="let state of allStates">{{state.stateName}}</option>
                      </select>
                        <span>
                            </span>
                    </div>
                </div>
                <div class="col-md-2 state">
                    <div class="row">
                        <select #ct [(ngModel)]="selectedCityId" (change)="filterCity(ct.value)" class="select-style">
                            <option [value]="city.cityId" *ngFor="let city of allCities">{{city.cityName}}</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="institution-list">
                <div class=" row card-group ">
                    <div class="col-md-6 col-lg-4 col-xl-3 " *ngFor="let institution of data; let in=index; ">
                        <div class="card institution-list--item " (click)="goToDetails(in) ">
                            <div class="row ">
                                <div class="col-md-8 col-lg-8 col-xl-7 ">
                                    <p class="institution-list--title ">{{institution.institutionName}}</p>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-5 ">
                                    <img width="60 " height="60 " [src]="getPicture(institution.pictureStream) ">
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-12 ">
                                    <p class="institution-list--status ">NotActive</p>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-10 ">
                                    <p class="institution-list--address ">{{institution.cityName + ", " + institution.stateName}}</p>
                                </div>
                                <div class="col-md-2 ">
                                    <img width="12 " height="12 " src="../../../../assets/map-pin.png ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="data !==null && searchable " class="no-instructor-image ">
                    <img src="../../../../assets/no-institution.png " alt=" ">
                </div>

            </div>

            <div class="row pagination ">
                <nav aria-label="... ">
                    <ul class="pagination ">
                        <li class="page-item disabled ">
                            <a class="page-link " href="# " tabindex="-1 ">Previous</a>
                        </li>
                        <!-- <li class="page-item "><a class="page-link " href="# ">1</a></li> -->
                        <li class="page-item " [class.active]="selectedPage==k + 1" *ngFor="let page of pageArray; let k=index " (click)="getCurrentPage(k + 1) ">
                            <a class="page-link ">{{k + 1}}<span class="sr-only "></span></a>
                        </li>
                        <li class="page-item ">
                            <a class="page-link ">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>