<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <h3>List of Institutions</h3>
                </div>
                <div class="col-md-4">
                    <button class="default-button">Add Institutions</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row pincode-bar">
                        <div class="col-md-4 col-lg-2 pincode-title">
                            <p>Pincode Search</p>
                        </div>
                        <div class="col-md-6 col-lg-9 pincode-search">
                            <input type="text" placeholder="Enter pincode ex(524002)">
                        </div>
                        <div class="col-md-2 col-lg-1">
                            <div class="pincode-icon">
                                <img src="../../../../assets/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
    </div>
</div>