<div class="main-content">

    <ng-template #mymodal let-modal>

        <div class="modal-body super-modal">

            <div class="col-xl-3 left-pane">
                <div class="row tab" [ngClass]="{'tab-decorator': stepCount==1}">
                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">

                        <div class="tab-item">
                            <div *ngIf="loading" class="lds-ring spinner">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <img *ngIf="stepCount>1 && loading_tab1 == false" src="../../../../assets/green-tick.png" alt="" width="15x" height="15px">
                            <p>Institution Details</p>
                        </div>
                    </a>
                </div>
                <div class="row tab" [ngClass]="{'tab-decorator': stepCount==2}">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">

                        <div class="tab-item">
                            <div *ngIf="loading" class="lds-ring spinner">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <img *ngIf="stepCount>2" src="../../../../assets/green-tick.png" alt="" width="15x" height="15px">
                            <p>Point Of Contact</p>
                        </div>
                    </a>
                </div>
                <div class="row tab" [ngClass]="{'tab-decorator': stepCount==3}">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#branch" role="tab" aria-controls="profile" aria-selected="false">
                        <div class="tab-item">
                            <img *ngIf="stepCount>3" src="../../../../assets/green-tick.png" alt="" width="15x" height="15px">
                            <p>Branches</p>
                        </div>
                    </a>
                </div>
                <div class="row tab" [ngClass]="{'tab-decorator': stepCount==4}">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#section" role="tab" aria-controls="profile" aria-selected="false">
                        <div class="tab-item">
                            <img *ngIf="stepCount>4" src="../../../../assets/green-tick.png" alt="" width="15x" height="15px">
                            <p>Section</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 tab-content right-pane">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form [formGroup]="institutionDetailForm">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="institutionName">Name of Institution*</label>
                                <input type="text" formControlName="institutionName" class="form-control blip-input" id="institutionName" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group col-6">
                                <label for="eamil">Email (Institution)</label>
                                <input type="email" formControlName="email" class="form-control blip-input" id="eamil">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="website">Website</label>
                                <input type="text" formControlName="website" class="form-control blip-input" id="website">
                            </div>
                            <div class="form-group col-6">
                                <label for="institutionTypeId">Institution Type</label>
                                <select formControlName="institutionTypeId" class="form-control blip-input  blip-select">
                                    <option value="1">College</option>
                                    <option value="2">School</option>
                                  </select>
                                <!-- <input type="text" formControlName="institutionTypeId" class="form-control blip-input" id="institutionTypeId"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="address1">Address1</label>
                                <input type="text" formControlName="address1" class="form-control blip-input" id="address1">
                            </div>
                            <div class="form-group col-6">
                                <label for="address2">Address2</label>
                                <input type="text" formControlName="address2" class="form-control blip-input" id="address2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="countryId">Country</label>
                                <select formControlName="countryId" class="form-control blip-input  blip-select">
                                    <option value="1">India</option>
                                  </select>
                                <!-- <input type="text" formControlName="countryId" class="form-control blip-input" id="countryId"> -->
                            </div>
                            <div class="form-group col-6">
                                <label for="stateId">State</label>
                                <select formControlName="stateId" #st (change)="getCities(st.value)" class="form-control blip-input  blip-select">
                                    <option [value]="state.stateId" *ngFor="let state of allStates">{{state.stateName}}</option>
                                  </select>
                                <!-- <input type="text" formControlName="stateId" class="form-control blip-input" id="stateId"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="cityId">City</label>
                                <select formControlName="cityId" class="form-control blip-input  blip-select">
                                    <option [value]="city.cityId" *ngFor="let city of allCities">{{city.cityName}}</option>
                                  </select>
                                <!-- <input type="text" formControlName="cityId" class="form-control blip-input" id="cityId"> -->

                                <label for="remarks">Remarks</label>
                                <textarea name="" id="remarks" formControlName="remarks" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Image</label>
                                <input type="file" (change)="onFileChanged($event)">
                                <img class="image-create" [src]="img_url">
                            </div>
                        </div>
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-next" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Next</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form [formGroup]="institutionPOCForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="primaryPOCFirstName">Primary POC FirstName*</label>
                                <input type="text" formControlName="primaryPOCFirstName" class="form-control blip-input" id="primaryPOCFirstName" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group col-6">
                                <label for="primaryPOCLastName">Primary POC LastName</label>
                                <input type="email" formControlName="primaryPOCLastName" class="form-control blip-input" id="primaryPOCLastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="primaryPOCPhoneNumber">Primary POC PhoneNumber</label>
                                <input type="text" formControlName="primaryPOCPhoneNumber" class="form-control blip-input" id="primaryPOCPhoneNumber" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group col-6">
                                <label for="primaryPOCEmail">Primary POC Email</label>
                                <input type="email" formControlName="primaryPOCEmail" class="form-control blip-input" id="primaryPOCEmail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="secondaryPOCFirstName">Secondary POC FirstName</label>
                                <input type="text" formControlName="secondaryPOCFirstName" class="form-control blip-input" id="secondaryPOCFirstName" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group col-6">
                                <label for="secondaryPOCLastName">Secondary POC LastName</label>
                                <input type="email" formControlName="secondaryPOCLastName" class="form-control blip-input" id="secondaryPOCLastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="secondaryPOCPhoneNumber">Secondary POC PhoneNumber</label>
                                <input type="text" formControlName="secondaryPOCPhoneNumber" class="form-control blip-input" id="secondaryPOCPhoneNumber" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group col-6">
                                <label for="secondaryPOCEmail">Secondary POC Email</label>
                                <input type="email" formControlName="secondaryPOCEmail" class="form-control blip-input" id="secondaryPOCEmail">
                            </div>
                        </div>
                        <button type="submit" (click)="addPOCForm()" class="btn btn-primary btn-next" data-toggle="tab" href="#branch" role="tab" aria-controls="profile" aria-selected="false">Next</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="branch" role="tabpanel" aria-labelledby="profile-tab">
                    <form [formGroup]="institutionDetailForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Branch*</label>
                                <input type="email" class="form-control blip-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <button (click)="saveStep()" class="btn btn-primary btn-next" data-toggle="tab" href="#section" role="tab" aria-controls="profile" aria-selected="false">Next</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="profile-tab">
                    <form [formGroup]="institutionDetailForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Section*</label>
                                <input type="email" class="form-control blip-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <h3>List of Institutions</h3>
                </div>
                <div class="col-md-4">
                    <button class="default-button" (click)="open(mymodal)">Add Institutions</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row pincode-bar">
                        <div class="col-md-4 col-lg-4 pincode-title">
                            <p>Pincode Search</p>
                        </div>
                        <div class="col-md-6 col-lg-6 pincode-search">
                            <input type="text" placeholder="Enter pincode ex(524002)">
                        </div>
                        <div class="col-md-2 col-lg-2 icon-img">
                            <div class="pincode-icon">
                                <img src="../../../../assets/search.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 state">
                    <div class="row">
                        <select>
                                <option value="0">State</option>
                                <option value="1">Andhra Pradesh</option>
                                <option value="2">Karnataka</option>
                                <option value="3">Kerala</option>
                                <option value="4">Odissa</option>
                                <option value="5">Tamilnadu</option>
                                <option value="6">Maharastra</option>
                              </select>
                        <span>
                                    <img class="expand-more" src="../../../../assets/ic_expand_more.png" alt="">
                            </span>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>

            <div class="institution-list">
                <div class="row card-group">
                    <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let institution of data">
                        <div class="card institution-list--item">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-xl-7">
                                    <p class="institution-list--title">{{institution.institutionName}}</p>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-5">
                                    <img width="60" height="60" src="../../../../assets/newyork.gif">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="institution-list--status">NotActive</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10">
                                    <p class="institution-list--address">California</p>
                                </div>
                                <div class="col-md-2">
                                    <img width="12" height="12" src="../../../../assets/map-pin.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row pagination">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>