.full-page {
    background-color: teal;
    height: 200px;
}

h3 {
    margin: 10px;
}

.default-button {
    background-color: #316AFF;
    color: white;
    border-radius: 5px;
    border: none;
    position: relative;
    float: right;
    margin: 10px;
    padding: 8px;
}

.pincode-bar {
    margin-left: 10px;
    border: solid rgba(144, 144, 144, 0.23) 1px;
    padding: 1px;
}

.pincode-title {
    height: 100%;
    background: #316AFF;
    border: none;
    border-radius: 2px;
    vertical-align: middle;
}

.pincode-title p {
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
    color: white;
}

input {
    border: none;
    margin-left: 10px;
    width: 100%;
}

input:focus {
    outline: none;
}

.pincode-search {
    padding: 8px;
}

.pincode-icon {}