<form [formGroup]="parentCsvForm" enctype='multipart/form-data' (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-6">
            <div class="row">
                <label class="blip-label" for="banner">Main banner</label>
                <input type="file" class="blip-label" (change)="onFileChanged($event)">
                <div class="image-wrapper">
                    <img class="image-create" [src]="img_url">
                </div>
            </div>
            <!-- <div class="row">
                <label class="blip-label" for="banner2">Banner 2</label>
                <input type="file" class="blip-label" (change)="onFileChangedNew($event)">
                <div class="image-wrapper">
                    <img class="image-create" [src]="img_url2">
                </div>
            </div> -->
        </div>

    </div>


    <button type="submit" (click)="addParentCsv()" class="btn btn-primary btn-next" data-toggle="tab" href="#branch" role="tab" aria-controls="profile" aria-selected="false">Next</button>
</form>