<div class="institution-wrapper">
    <div class="col-6 institution-title">
        <h3>New York University</h3>
    </div>
    <div class="">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item col-3">
                <a class="nav-link active" id="pills-detail-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-detail" aria-selected="true">Institution Details</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-poc-tab" data-toggle="pill" href="#pills-poc" role="tab" aria-controls="pills-poc" aria-selected="false">POC</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-branch-tab" data-toggle="pill" href="#pills-branch" role="tab" aria-controls="pills-branch" aria-selected="false">Branch</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-section-tab" data-toggle="pill" href="#pills-section" role="tab" aria-controls="pills-section" aria-selected="false">Section</a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" id="pills-instructor-tab" data-toggle="pill" href="#pills-instructor" role="tab" aria-controls="pills-instructor" aria-selected="false">Instructor</a>
            </li>
        </ul>
    </div>
    <div class="institution-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-detail" role="tabpanel" aria-labelledby="pills-detail-tab">
                <div class="row">
                    <div class="col-6">
                        ghjk
                    </div>
                    <div class="col-6">
                        hjkl
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-poc" role="tabpanel" aria-labelledby="pills-poc-tab">POC</div>
            <div class="tab-pane fade" id="pills-branch" role="tabpanel" aria-labelledby="pills-branch-tab">Branch</div>
            <div class="tab-pane fade" id="pills-section" role="tabpanel" aria-labelledby="pills-section-tab">Section</div>
            <div class="tab-pane fade" id="pills-instructor" role="tabpanel" aria-labelledby="pills-instructor-tab">instructor</div>
        </div>
    </div>
</div>