<div class="institution-wrapper">
    <div class="col-6 institution-title">
        <h3>New York University</h3>
    </div>
    <div class="">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item col-3">
                <a class="nav-link active" id="pills-detail-tab" data-toggle="pill" href="#pills-details" role="tab" aria-controls="pills-detail" aria-selected="true">Institution Details</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-poc-tab" data-toggle="pill" href="#pills-poc" role="tab" aria-controls="pills-poc" aria-selected="false">POC</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-branch-tab" data-toggle="pill" href="#pills-branch" role="tab" aria-controls="pills-branch" aria-selected="false">Branch</a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" id="pills-section-tab" data-toggle="pill" href="#pills-section" role="tab" aria-controls="pills-section" aria-selected="false">Section</a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" id="pills-instructor-tab" data-toggle="pill" href="#pills-instructor" role="tab" aria-controls="pills-instructor" aria-selected="false">Instructor</a>
            </li>
        </ul>
    </div>
    <div class="institution-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
                <div class="row">
                    <div class="offset-md-11 offset-11">
                        <button class="btn btn-primary edit-buton">Edit <img src="../../../../assets/pencil.png" alt=""></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="line-heading">Name of the Institution</p>
                        <p>{{coreData.institutionName}}</p>
                        <p class="line-heading">Website</p>
                        <p>{{coreData.website}}</p>
                        <p class="line-heading">Address</p>
                        <p>{{coreData.address1 + " " + coreData.address2}}</p>
                        <p class="line-heading">State</p>
                        <p>{{coreData.stateName}}</p>
                        <p class="line-heading">Remarks</p>
                        <p>{{coreData.remarks}} </p>
                    </div>
                    <div class="col-6">
                        <p class="line-heading">Email(Institution)</p>
                        <p>{{coreData.email}}</p>
                        <p class="line-heading">Institution Type</p>
                        <p>College</p>
                        <p class="line-heading">Country</p>
                        <p>India</p>
                        <p class="line-heading">City</p>
                        <p>{{coreData.cityName}}</p>
                        <p class="line-heading">Image</p>
                        <img [src]="image" width="80px" height="80px" alt="">
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-poc" role="tabpanel" aria-labelledby="pills-poc-tab">
                <div class="row">
                    <div class="offset-md-11 offset-11">
                        <button class="btn btn-primary edit-buton">Edit <img src="../../../../assets/pencil.png" alt=""></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="line-heading">Primary POC First Name</p>
                        <p>{{pocData.primaryPOCFirstName}}</p>
                        <p class="line-heading">Primary POC PhoneNumber</p>
                        <p>{{pocData.primaryPOCPhoneNumber}}</p>
                        <p class="line-heading">Secondary POC First Name</p>
                        <p>{{(pocData.secondaryPOCName).split(" ")[0]}}</p>
                        <p class="line-heading">Secondary POC PhoneNumber</p>
                        <p>{{pocData.secondaryPOCPhoneNumber}}</p>

                    </div>
                    <div class="col-6">
                        <p class="line-heading">Primary POC LatstName</p>
                        <p>{{pocData.primaryPOCLastName}}</p>
                        <p class="line-heading">Primary POC Email</p>
                        <p>{{pocData.primaryPOCEmail}}</p>
                        <p class="line-heading">Secondary POC LastName</p>
                        <p>{{(pocData.secondaryPOCName).split(" ")[1]}}</p>
                        <p class="line-heading">Secondary POC Email</p>
                        <p>{{pocData.secondaryPOCEmail}}</p>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-branch" role="tabpanel" aria-labelledby="pills-branch-tab">
                <div class="shadow-sm p-3 mb-5 bg-white blip-chip" [ngStyle]="getRandomColor()" *ngFor="let branch of branchData">{{branch.branchName}}</div>
            </div>
            <div class="tab-pane fade" id="pills-section" role="tabpanel" aria-labelledby="pills-section-tab">

                <div class="row">
                    <div class="col-8">
                        <h4 class="section-padding">List of Sections</h4>

                    </div>
                    <div class="col-4 section-padding">
                        <button class="btn btn-primary" (click)="openSectionModal(sectionModal)">Add</button>
                    </div>
                </div>

                <div class="row section-area">
                    <div class="col-6 branch-wrapper">
                        <ul class="blip-ul">

                            <li class="blip-li" *ngFor="let b of branchData; let i = index" (click)="getBranch(i)" [ngClass]="{'blip-li--focused':selectedBranchIndex === i}">
                                <a>{{b.branchName}}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-4 section-wrapper">
                        <div class="chip" *ngFor="let sec of singleSection">
                            <i class="fas fa-circle fa-dot"></i> {{sec.sectionName}}
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="pills-instructor" role="tabpanel" aria-labelledby="pills-instructor-tab">
                <div *ngIf="false" class="instructor-image">
                    <img src="../../../../assets/no-instructors.png" alt="">
                </div>

                <div id="grid" class="row">
                    <div class="col-lg-3 col-xl-2" *ngFor="let instructor of instructors" style="border: 1px solid #DEDEDE;" style="margin-bottom: 50px;margin-top: 5px;">
                        <div class="border">
                            <div class="item-img-wrap ">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="workimg" style="margin-top: 5px">
                                <div class="item-img-overlay">
                                    <a href="#" class="show-image">
                                        <span></span>
                                    </a>
                                </div>

                            </div>

                            <div class="text-center" font-family="Times New Roman">Mark Lee</div>
                            <div class="text-center text-primary small" font-family="Times New Roman">Assistant Professor</div>

                            <div class="text-center small" font-family="Times New Roman">Email:srikanth@gmail.com</div>
                            <div class="text-center small" font-family="Times New Roman"> Ph:9290528523
                            </div>
                            <div class="row d-flex justify-content-center" style="margin-bottom: 10px;">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                        <img src="images/l.jpg" class="img-responsive">
                                    </div>
                                    23
                                    <div class="col-xs-4 col-md-4">
                                        <img src="images/2.jpg" class="img-responsive">
                                    </div>35
                                </div>
                            </div>
                            <div class="text-center small view">
                                <ul class="view">
                                    <li (click)="openModal()">View</li>
                                </ul>
                            </div>
                            <!-- <div class="text-center small view" id="view-div"><a href="#" class="view-ref">View</a></div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>