.institution-wrapper {
    padding: 20px 40px;
}

.institution-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

li a {
    border-radius: 0;
    text-align: center;
}

.edit-button {
    position: relative;
    float: right;
}

button>img {
    margin-bottom: 4px;
    width: 13px;
    height: 13px;
}

.institution-body {}